header
    .navbar.navbar-default(role='navegacion')
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="#") 
                    img(src="images/icon.png", alt="adrian gaspar logo")
            .navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li: a(href="#") Home
                    li: a(href="#") Acerca de mí
                    li: a(href="#") Mis composiciones
                    li: a(href="#") Contáctame
    .container.text-center
        .row
            h1 Adrian Gaspar
            h2 Músico. Escritor casual y causal
